/*{
    margin: 0;
    padding: 0;
}*/
html{
    font-family:"karla",sans-serif;
    
}

.fdiv{
    background-color:snow;
height: 40vh;
}
.cm{
    width:50%;
    height:60vh;


}
.sdiv{
    background-color:hsl(179,62%,43%);
    float: left;
}
.tdiv{
    background-color: rgba(25, 182, 182, 0.616);
float: right;
}
.button{
    width:50vh ;
    height: 10vh;
    margin-top: 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}